<div class="container-fluid p-3">
    <div class="row">
        <h1 class="titulo text-center" >Nuestra empresa</h1>
        <p class="subtitulo text-center">En MiGimnasio, nos apasiona tu bienestar y te ayudamos a alcanzar tus metas de salud y fitness.</p>
    </div>

    <div class="row">

        <div class="caract">
            <img src="../../../assets/images/equipo.png" alt="Equipo" >
            <h5>Equipo multidisciplinario:</h5>
            <p>Nuestro equipo está compuesto por entrenadores altamente capacitados y nutricionistas especializados. Trabajamos en conjunto para proporcionarte un enfoque completo para tu salud y fitness.</p>
        </div>
        <div class="caract">
            <img src="../../../assets/images/instalaciones.png" alt="Instalaciones">
            <h5>Instalaciones modernas:</h5>
            <p> Disfruta de nuestras instalaciones de primer nivel, equipadas con maquinaria y equipamiento de alta calidad para optimizar tu entrenamiento. También ofrecemos espacios adecuados para las consultas con nuestros nutricionistas.
            </p>
        </div>
        <div class="caract">
            <img src="../../../assets/images/acogedor.png" alt="Ambiente" >
            <h5>Ambiente acogedor:</h5>
            <p> En MiGimnasio, nos esforzamos por crear un ambiente amigable y motivador, donde te sientas cómodo y parte de una comunidad fitness unida.</p>
        </div>
    </div>
</div>