<div class="container-fluid mt-5 p-3 mb-5">
    <div class="row">
        <div class="pageNotFoundElement mt-5  d-flex flex-row justify-content-center align-items-center">
            <div class="card p-5">
                <img src="../../../assets/images/logo.png" class="card-img-top" alt="Logo">
                <div class="card-body">
                  <p class="card-title">404</p>
                  <p class="card-text">No se encontró la página</p>
                  <button mat-raised-button [routerLink]="['/']" class="btn">Ir al inicio</button>
                </div>
              </div>
        </div>
    </div>
</div>