<div class="container-fluid mt-5 d-flex flex-column justify-content-center align-items-center">

<div class="row d-flex flex-column justify-content-center align-items-center p-5 pt-5">

  <h1 class="text-center">Modifica la membresía elegida</h1>

        <form [formGroup]="updateMembresiaForm" (ngSubmit)="saveChanges()" class="d-flex flex-column justify-content-center align-items-center pt-5">

            <div class="mb-3">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre de la membresia</mat-label>
                    <input matInput placeholder="Nombre de la membresía" formControlName="nombre">
                  </mat-form-field>
            </div>

            <div class="mb-3">
                <mat-form-field appearance="outline">
                    <mat-label>Precio de la membresia</mat-label>
                    <input matInput type="number" placeholder="1000" formControlName="precio">
                  </mat-form-field>
            </div>

            <button mat-raised-button class="btn" type="submit">Guardar cambios</button>
          </form>

  </div>
</div>
