*{padding: 0;
    margin: 0;}

    .container-fluid{
        height: 100vh;
        background-color: #e5dccb52;
    }

    
    .row{
        padding: .5em;
        margin-top: 1em;
    }

    .titulos{
        margin-top: 5em;
        margin-bottom: 3em;

    }
    .titulos h1{
        padding-bottom: .4em;
        font-family: 'TitanOne', cursive;
    font-size: 2em;
    color: #ffc75e;
    text-shadow: 2px 2px #2e2b2b;
    }
    .titulos h2{
        padding-bottom: .4em;
        font-family: 'TitanOne', cursive;
    font-size: 1.5em;
    color: #ffc75e;
    text-shadow: 2px 2px #2e2b2b;
    }

    .logo{
        width: 10em;
        height: 3em;
        margin-bottom: 3em;
    }


    
    .mat-mdc-raised-button.mat-mdc-button-base{
        width: 15em;
        height: 2.4em;
        font-size: 1em;
        background-color: #FFB427;
        color: rgb(255, 255, 255);
        margin: 0 auto;
    }