<footer class="container-fluid pt-5 px-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>Inicio</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a [routerLink]="['/']" class="nav-link p-0 text-muted">Inicio</a></li>
          <li class="nav-item mb-2"><a [routerLink]="['/contact']" class="nav-link p-0 text-muted">Contacto</a></li>
          <li class="nav-item mb-2"><a [routerLink]="['/about']" class="nav-link p-0 text-muted">Nosotros</a></li>
        </ul>
      </div>


      <div class="col-6 col-md-5 offset-md-1 mb-3">
        <h5>Redes sociales</h5>
        <ul class="nav flex-row">
          <a href="https://www.instagram.com/"><img src="../../../assets/images/instagram.png"  width="30" height="30" class="d-inline-block align-top me-4 social" alt="Instagram"></a>
          <a href="https://twitter.com/"><img src="../../../assets/images/twitter.png" width="30" height="30" class="d-inline-block align-top me-4 social" alt="Twitter"></a>
          <a href="https://www.facebook.com/"><img src="../../../assets/images/facebook.png" width="30" height="30" class="d-inline-block align-top me-4 social" alt="Facebook"></a>
          <img src="../../../assets/images/logo.png" width="100" height="30" class="d-inline-block align-top me-4  logoFooter" alt="Logo">

        </ul>
      </div>
    </div>

    <div class="footerLove d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top">
      <p>© 2023 MiGimnasio</p>
      <p>Hecho con <span><img src="../../../assets/images/like.png" class="like">

</span> por Adrián Ibáñez</p>
    </div>
  </footer>