
<div class="container-fluid">
    
<div class="row  p-4 text-center">

    <h1 class="fw-light">Listado del personal</h1>

</div>


<div class="row text-center">

  <div class="col">
      <!-- <input type="text" [(ngModel)]="filtroStaff"> -->
      <input type="text" (keyup)="filtrarPorNombre($event)" placeholder="Filtrar por nombre" class="filtro">
      <!-- <button  class="btn btn-primary"(click)="filterStaffByName(filtroStaff)">Filtrar empelados por nombre</button>
      <button class="btn btn-primary" (click)="filterStaffByEmail(filtroStaff)">Filtrar empleados por email</button> -->
      <button mat-raised-button class="btn pl-2"><a (click)="irAgregarEmpleados()"> Ir a agregar empleados </a></button>
  </div>

</div>

<div class="row"  >

    <div class="table-container mat-elevation-z8" >
     <table mat-table [dataSource]="filteredStaff">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let staff"> {{ staff.name }} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let staff"> {{ staff.email }} </td>
      </ng-container>
      <ng-container matColumnDef="cargo">
        <th mat-header-cell *matHeaderCellDef> Cargo </th>
        <td mat-cell *matCellDef="let staff"> {{ staff.cargo }} </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let staff">       
           <button class="btn"  (click)="eliminarStaff(staff.email)"><i class="material-icons deleteStaff">delete</i></button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> 
</div>

    
  
  
 
</div>

    <div class="row mt-5" id="agregarEmpleados">

      <h1 class="text-center pt-5 mt-5" >Inserta un nuevo empleado</h1>
    </div>
    <div class="row">
        <form [formGroup]="addEmpleadoForm" (ngSubmit)="onSubmit()" class="d-flex flex-column"> 

            <div class="mb-3">
                <label for="adminStaffFormDni" class="form-label">DNI</label>
                <input type="text" formControlName="dni" class="form-control" id="adminStaffFormDni" aria-describedby="dniHelp"  placeholder="15435981Z">
                
              </div>

            <div class="mb-3">
                <label for="adminStaffFormName" class="form-label">Nombre</label>
                <input type="text" formControlName="name" class="form-control" id="adminStaffFormName" aria-describedby="nameHelp"  placeholder="Paco Angular">
                
              </div>

            <div class="mb-3">
              <label for="adminStaffFormEmail" class="form-label">Email</label>
              <input type="text" formControlName="email" class="form-control" id="adminStaffFormEmail" aria-describedby="emailHelp"  placeholder="name@example.com">
              
            </div>

            <div class="mb-3">
                <label for="adminStaffFormPassword" class="form-label">Contraseña</label>
                <input type="password" formControlName="password" class="form-control" id="adminStaffFormPassword" aria-describedby="passHelp" >
                
              </div>
              <div class="mb-3">
                <label for="adminStaffFormBirthDate" class="form-label">Fecha de nacimiento</label>
                <input type="date" formControlName="fechaNacimiento" class="form-control" id="adminStaffFormDateBirth" aria-describedby="birthDateHelp">
               
                
              </div>

              <div class="mb-2 select d-flex flex-column justify-content-center ">
                    <mat-form-field appearance="fill" required>
                      <mat-label>Cargo</mat-label>
                      <mat-select formControlName="cargo">
                        <mat-option  value="nutricionista" >Nutricionista</mat-option>
                        <mat-option  value="entrenador" >Entrenador</mat-option>
                      </mat-select>
                    </mat-form-field>
              </div>
            
            <button mat-raised-button type="submit" [disabled]="!addEmpleadoForm.valid" class="btn mb-3">Insertar</button>

          </form>
        

    </div>

  </div>